{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidea</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            {% block content %}
            <h2 align="center">เข้าสู่ระบบ</h2>

            <div class="container">
                <div class="jumbotron jumbotron-fluid">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="container">
                            <div class="form-group">

                                <label for="">Username</label>
                                <input type="text" class="form-control" name="username">
                            </div>



                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            < <input type="submit" value="เข้าสู่ระบบ" onclick="Reg()" class="btn btn-primary">

                    </form>

                    {% endblock content %}
                    <script>
                        function Reg() {
                            alert("เข้าสู่ระบบสำเร็จ")

                        }
                    </script>
                    </div>
                </div>
                <div class="container">
                    <img class="img-fluid" background-imag e src="{% static 'image/3.png' %}" alt="Chania" width="460" height="345">
                </div>
</body>

</html>